html, body { overflow-x: hidden; } body { position: relative; }

body{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(233, 233, 233);
    font-family: "Roboto", sans-serif;
    /* font-family: "Host Grotesk", sans-serif; */
    /* font-family: "Rubik", sans-serif; */
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;

    }


}
.bm-bg-light {
    background-color: rgb(233, 233, 233);
}

textarea{
    white-space:pre;
}
textarea{
        white-space:pre-wrap;
}
.bm-bg-primary-light {
    background-color: rgba(46, 112, 211, 0.3);

}
.bm-bg-gray-light {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    box-shadow: 0px 1px 12px 1px rgb(187, 187, 187);

}
.form-label, label {
    font-size: 14px;
    color: rgb(88, 88, 88);
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 5px;
    margin-bottom: 0px;
    
}
.form-control {
    font-size: 17px;
    border: 1px solid rgb(205, 228, 247);
    background-color: rgb(247, 252, 255) ;
    color: black;
    border-radius: 3px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-top: 1px;
}

.bm-text-primary {
    color: rgb(13, 75, 167);
    font-weight: 500;
}
.bm-btn-primary {
    background-color:rgb(13, 75, 167);
    border: rgb(7, 66, 155);
}
.bm-hover:hover {
    color: rgb(8, 49, 126);
}
.bm-btn-header {
    background-color: rgb(9, 92, 9);
    background-color: rgb(13, 75, 167);
}

.bm-header-primary {
    background-color: rgb(25, 133, 11);
    background-color: rgb(13, 75, 167);
    box-shadow: 5px 6px 12px rgba(23, 43, 49, 0.5);
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    padding: 6px;
    padding-left: 10px;
    padding-top: 7px;
    font-size: 20px;
    border-radius: 0px;
}

.bm-page {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding: 0;
    background-color: rgb(233, 233, 233);
    height: 95vh;
}
.bm-text-success {
    color: rgb(67, 199, 27); 
}
.bm-alert-info {
    background-color:rgba(121, 208, 235, 0.5);
    box-shadow: 2px 2px 13px rgb(148, 178, 190);
    border: 1px solid rgb(148, 178, 190);
    color: rgb(14, 14, 14);
    padding: 10px;
    border-radius: 5px;  
}
.bm-alert-success {
    background-color:rgba(89, 218, 50, 0.5);
    box-shadow: 2px 2px 13px rgb(118, 138, 110);
    border: 1px solid rgb(112, 192, 112);
    color: rgb(14, 14, 14);
    padding: 10px;
    border-radius: 5px;
    
}
.bm-alert-warning {
    background-color:rgba(243, 231, 58, 0.4);
    box-shadow: 2px 2px 13px rgb(174, 190, 148);
    border: 1px solid rgb(216, 218, 146);
    color: rgb(14, 14, 14);
    padding: 10px;
    border-radius: 5px;   
}
.bm-alert-danger {
    background-color:rgba(224, 28, 28, 0.4);
    box-shadow: 2px 2px 13px rgb(190, 148, 148);
    border: 1px solid rgb(212, 155, 155);
    color: rgb(14, 14, 14);
    padding: 10px;
    border-radius: 5px;   
}

form {
    background-color: white;
    padding: 5px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


  @media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
        line-height: 19px;
        padding: 0;
        margin: 0;
    }

    .form-label, label {
        font-size: 13px;
       
    }
    .form-control {
        font-size: 13px;
        padding-top: 4px;
        margin-top: 2px;
    }
    .table {
        font-size: 12px;
    }
    
  }
